* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    color: #666;
}

.container {
    width: 1220px;
    margin: 120px auto;
}

.title_wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 46px;
}

.title_wrap .titles {
    width: 500px;
}
.title_wrap .titles h3 {
    font-size: 36px;
    margin-bottom: 16px;
}

.title_wrap .titles p {
    font-size: 18px;

}

.title_wrap .btns {
    width: 150px;
    display: flex;
    gap: 20px;
    padding-top: 48px;


}

.title_wrap .btns i {
    width: 64px;
    height: 64px;
    background-color: transparent;
    color: #444;
    border: 1px solid #444;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;

}

.title_wrap .btns i .filled {
    background-color: transparent;
    color: #fff;
}

.contents .photo {
    width: 550px;
    height: 620px;
}

.contents .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}