body {
    /* background-color: aquamarine; */
    background-image: url("DG.jpg.crdownload");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title {
    font-size: 50px;
    text-align: center;
    /* padding: 50px 0; */
}

.name {
    font-size: 14px;
    color: #666;
    text-align: right;
    background-color: #ddd;
    width: 400px;
    margin: 0 auto;
}

.contents {
    font-size: 20px;
    line-height: 1.8;
    text-align: center;
}

.contents p {
    background-color: #ddd;
    margin: 40px 0;
    padding: 20px 0;
}