* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    color: #666;
}

.header {
    border-bottom: 1px solid #ccc;
}

.nav {
    width: 1200px;
    height: 72px;
    /* 블록요소를 중앙정렬*/
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.nav .logo_wrap {
    display: flex;
    margin-right: auto;
    align-items: center;
    gap: 10px;
}  

.nav .logo_wrap h1 {

font-size: 20px;
}


.nav .menu ul {
    display: flex;
}

.nav .menu ul li {
    margin-right: 50px;
}

.nav .button button {
    width: 100px;
    height: 50px;
    background-color: #444;
    color: #fff;    
    border: none;
    border-radius: 50px;
}

.hero {
    margin: 150px 0;
}

.hero .contents {
    width: 1200px;
    margin: 0 auto;
    display: flex;
}

.hero .contents .photo img {
    width: 570px;
}

.hero .contents .texts h3 {
    font-size: 24px;
    color: #444;
    font-weight: normal;
}
.hero .contents .texts h2 {
    font-size: 60px;
    color: #444;
}
.hero .contents .texts p {
    font-size: 20px;
    line-height: 1.8;
    margin-top: 16px;
    margin-bottom: 24px;
}

.hero .contents .texts button {
    height: 50px;
    width: 100px;
    border-radius: 50px;
    border: 1px solid #666
}
